* {
    font-family: 'Space Mono', monospace;
}
.container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}
#header {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 30vh;
    text-align: center;
}
#navigation {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 65vh;
}
#content {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 65vh;
}
#footer {
    grid-column: 1/3;
    grid-row: 3/3;
    background-color: #F582AC;
    height: 5vh;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #header {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 40vh;
    }
    #navigation {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 30vh;
    }
    #content {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 50vh;
    }
    #footer {
        grid-column: 1/3;
        grid-row: 4/4;
        height: 10vh;
    }
}

@media screen and (max-width: 430px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #header {
        grid-column: 1/2;
        height: 50vh;
    }
    #navigation {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 20vh;
    }
    #content {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 50vh;
    }
    #footer {
        grid-column: 1/2;
        grid-row: 4/4;
        height: 5vh;
    }
    h1 {
        color: red;
        font-size: 3vh;
    }
}

ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

li {
    padding-left: 1.3em;
    padding-bottom: 1em;
}

li:before {
    content: "\f054"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
    color: #F582AC;
}

button {
    background-color: #F582AC; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #F582AC;
}

button:hover {
    background-color: #F582AC;
    color: #000000;
}

/* unvisited link */
a:link {
    color: #000000;
;
}

/* visited link */
a:visited {
    color: #000000;
;
}

/* mouse over link */
a:hover {
    background-color: #F582AC;
    color: #000000;
}

/* selected link */
a:active {
    color: #F582AC;
}

#header h3 {
    margin-bottom: 0px;
}
