<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&hearts; Vue Menu</title>
</head>
<body>
<div id="flexible-menu" class="demo">
    <button
            v-for="topic in topics"
            v-bind:key="topic"
            v-bind:class="['topic-button', { active: currentTopic === topic }]"
            v-on:click="currentTopic = topic"
    >{{ topic }}</button>

    <component
            v-bind:is="currentTopicComponent"
            class="topic"
    ></component>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    Vue.component('topic-home', {
        template: '<div>Home content</div>'
    });

    Vue.component('topic-posts', {
        template: '<div>Posts content</div>'
    });

    Vue.component('topic-archive', {
        template: '<div>Archive content</div>'
    });

    new Vue({
        el: '#flexible-menu',
        data: {
            currentTopic: 'Home',
            topics: ['Home', 'Posts', 'Archive']
        },
        computed: {
            currentTopicComponent: function () {
                return 'topic-' + this.currentTopic.toLowerCase();
            }
        }
    });
</script>

</body>
</html>
