<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&hearts; Vue Navigator</title>
</head>
<body>
<div id="navigator">
    <button
            v-for="topic in mainTopics"
            v-bind:key="topic"
            v-bind:class="['topic-button', { active: currentTopic === topic }]"
            v-on:click="currentTopic = topic"
    >{{ topic }}</button>

    <component
            v-bind:is="currentTopicComponent"
    ></component>
</div>


<script src="https://unpkg.com/vue"></script>
<script>
    const dataStore = {
        "menues": {
            "html": [
                {
                    "name": "headings",
                    "content": "HTML defines six levels of headings. A heading element implies all the font changes, paragraph breaks before and after, and any white space necessary to render the heading. The heading elements are H1, H2, H3, H4, H5, and H6 with H1 being the highest (or most important) level and H6 the least. ",
                    "source": "https://www.w3.org/MarkUp/html3/headings.html"
                },
                {
                    "name": "paragraphs",
                    "content": "",
                    "source": ""

                },
                {
                    "name": "links",
                    "content": "",
                    "source": ""
                },
                {
                    "name": "images",
                    "content": "",
                    "source": ""
                },
                {
                    "name": "tables",
                    "content": "",
                    "source": ""
                }
            ],
            "css": [
                {
                    "name": "selectors",
                    "content": "In CSS, selectors declare which part of the markup a style applies to by matching tags and attributes in the markup itself.\n\nSelectors may apply to the following:\n\nall elements of a specific type, e.g. the second-level headers h2\nelements specified by attribute, in particular:\nid: an identifier unique within the document\nclass: an identifier that can annotate multiple elements in a document\nelements depending on how they are placed relative to others in the document tree.\nClasses and IDs are case-sensitive, start with letters, and can include alphanumeric characters, hyphens and underscores. A class may apply to any number of instances of any elements. An ID may only be applied to a single element.\n\nPseudo-classes are used in CSS selectors to permit formatting based on information that is not contained in the document tree. One example of a widely used pseudo-class is :hover, which identifies content only when the user \"points to\" the visible element, usually by holding the mouse cursor over it. It is appended to a selector as in a:hover or #elementid:hover. A pseudo-class classifies document elements, such as :link or :visited, whereas a pseudo-element makes a selection that may consist of partial elements, such as ::first-line or ::first-letter.[6]\n\nSelectors may be combined in many ways to achieve great specificity and flexibility.[7] Multiple selectors may be joined in a spaced list to specify elements by location, element type, id, class, or any combination thereof. The order of the selectors is important. For example, div .myClass {color: red;} applies to all elements of class myClass that are inside div elements, whereas .myClass div {color: red;} applies to all div elements that are in elements of class myClass.",
                    "source": "https://en.wikipedia.org/wiki/Cascading_Style_Sheets#Selector"
                },
                {
                    "name": "colors",
                    "content": "",
                    "source": ""

                },
                {
                    "name": "boxes",
                    "content": "",
                    "source": ""
                },
                {
                    "name": "display",
                    "content": "",
                    "source": ""
                },
                {
                    "name": "float",
                    "content": "",
                    "source": ""
                }
            ],
            "javascript": [
                {
                    "name": "functions",
                    "content": "Functions as object constructors: Functions double as object constructors, along with their typical role. Prefixing a function call with new will create an instance of a prototype, inheriting properties and methods from the constructor (including properties from the Object prototype). ECMAScript 5 offers the Object.create method, allowing explicit creation of an instance without automatically inheriting from the Object prototype (older environments can assign the prototype to null). The constructors prototype property determines the object used for the new objects internal prototype. New methods can be added by modifying the prototype of the function used as a constructor. JavaScripts built-in constructors, such as Array or Object, also have prototypes that can be modified. While it is possible to modify the Object prototype, it is generally considered bad practice because most objects in JavaScript will inherit methods and properties from the Object prototype, and they may not expect the prototype to be modified. Functions as methods: Unlike many object-oriented languages, there is no distinction between a function definition and a method definition. Rather, the distinction occurs during function calling; when a function is called as a method of an object, the functions local this keyword is bound to that object for that invocation.",
                    "source": "https://en.wikipedia.org/wiki/JavaScript"
                },
                {
                    "name": "objects",
                    "content": "",
                    "source": ""

                },
                {
                    "name": "scope",
                    "content": "",
                    "source": ""
                },
                {
                    "name": "events",
                    "content": "",
                    "source": ""
                },
                {
                    "name": "hoisting",
                    "content": "",
                    "source": ""
                }
            ]
        }
    };

    Vue.component('topic-html', {
        template: '<div><b>{{ topicContent }}</b> </div>',
        data: function () {
            return {
                topicContent: dataStore.menues.html
            }
        }
    });

    Vue.component('topic-css', {
        template: '<div><b>{{ topicContent }}</b> </div>',
        data: function () {
            return {
                topicContent: dataStore.menues.css
            }
        }
    });

    Vue.component('topic-javascript', {
        template: '<div><b>{{ topicContent }}</b> </div>',
        data: function () {
            return {
                topicContent: dataStore.menues.javascript
            }
        }
    });

    new Vue({
        el: '#navigator',
        data: {
            content: dataStore,
            currentTopic: 'HTML',
            mainTopics: ['HTML', 'CSS', 'JavaScript']

        },
        computed: {
            currentTopicComponent: function () {
                console.log(dataStore.menues.html);
                return 'topic-' + this.currentTopic.toLowerCase();
            }
        }
    });
</script>

</body>
</html>
