<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>&hearts; Vue Counter</title>
</head>
<body>
<div id="app">
    <h1>Counter</h1>
    <p>{{counter}}</p>
    <counter-button @increment="incrementCounter"></counter-button>
    <counter-button @increment="incrementCounter"></counter-button>
</div>


<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
    Vue.component('counter', {
        template: '<div>{{counter}}</div>'
    });

    Vue.component('counter-button', {
        template: '<div><button @click="increment">Click</button> This button was clicked {{counter}} times</div>',
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            increment: function () {
                this.counter++;
                this.$emit('increment');
            }
        }
    });

    new Vue({
        el: '#app',
        data: {
            counter: 0
        },
        methods: {
            incrementCounter() {
                this.counter++;
            }
        }
    })


</script>

</body>
</html>
